@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #F2F1EE;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container_box {
  width: 20%;
  height: 45vh;
  background-color: #A0B7DC;
  color: black;
  border-radius: 10px;
}

.input_feild {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input {
  width: 50%;
  height: 30px;
  border-radius: 20px;
  border: none;
  padding: 5px 5px 5px 10px;
  font-size: 16px;
}

.info {
  margin-top: 60px;
  text-align: center;
}

.location {
  font-size: 35px;
  font-weight: 1000;
  text-transform: capitalize;
}

.temp {
  font-size: 25px;
  font-weight: 800;
}

.temp_min {
  font-size: 16px;
  font-weight: 500;
}

.nodata {
  text-align: center;
  font-size: 15px;
}

.fas {
  animation:  street 5000ms linear infinite;
}

@keyframes street {
  0% {
    transform: scale(0)
  }
  50% {
    transform: scale(1)
  }
  100% {
    transform: scale(0)
  }
}

.wave {
  opacity: .3;
  position: absolute;
  top: 80%;
  left: 50%;
  background: white;
  width: 50rem;
  height: 50rem;
  margin-left: -25rem;
  margin-top: -20rem;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
  z-index: 1;
}

.wave.-three {
  animation: drift 4000ms infinite linear;
  z-index: 2;
  opacity: .2;
}

.wave.-two {
  animation: drift 5000ms infinite linear;
  z-index: 3 !important;
  opacity: .1;
}

.wave.-one {
  animation: drift 2000ms infinite linear;
  z-index: 4 !important;
  opacity: .1;
}

@keyframes drift {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}